{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <main>
        <h1>Welcome to the AttackFlow creator</h1>
        <h2>Follow the steps below to start generating attack flows:</h2>
        <ol>
            <li>Create an account or log in</li>
            <li>Upload your incident reports</li>
            <li>Annotate your incident reports to construct an attack flow</li>
            <li>Get your annotations approved by cybersecurity experts</li>
            <li>Once approved, generate visualisations from your annotated incident reports</li>
        </ol>
    </main>
{% endblock %}
